<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div>
            {% if app.user == null %}
                <p>
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </p>
                <p>
                    <a href="{{ path('app_register') }}">Se créer un compte</a>
                </p>
            {% else %}
                <p>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    - <span>connecter avec {{ app.user.name }}</span>
                </p>
                <p>
                    <a href="{{ path('profile') }}">Gérer mon profil</a>
                </p>
                <p>
                    <a href="{{ path('subscriptions') }}">Mes abonnements</a>
                </p>
            {% endif %}
            <p>
                <a href="{{ path('food') }}">Retour à la liste des recettes</a>
            </p>
            <p>
                <a href="{{ path('food_add') }}">Ajouter une recette</a>
            </p>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
